body {
    background-color: beige;
}

.table {
    padding: 2rem;
    border: 2px solid #ccc;
    text-align: center;
}

.table tr {
    padding: 1rem;
}

.table tr td,
.table tr th {
    padding: 2rem;
}

