<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create Account Page</title>
</head>
<body>
    <h1>Register as a student</h1>
    <p>Please fill all this information</p>
    <form method="POST" th:action="@{/create-student}" th:object="${newUser}">
        <div>
            <label>Full Name: </label>
            <input type="text" th:field="*{fullName}">
        </div>
        <div>
            <label>Level: </label>
            <input type="text" th:field="*{level}">
        </div>
        <div>
            <label>Email: </label>
            <input type="text" th:field="*{email}">
        </div>
        <div>
            <label>Password: </label>
            <input type="text" th:field="*{password}">
        </div>


        <button type="submit">Create Account</button>
    </form>
</body>
</html>